-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: lensegua
-- ------------------------------------------------------
-- Server version	5.7.24

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tbl_contenido`
--

DROP TABLE IF EXISTS `tbl_contenido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_contenido` (
  `Pk_ID_contenido` int(11) NOT NULL AUTO_INCREMENT,
  `Descripcion` varchar(255) DEFAULT NULL,
  `Fk_ID_leccion` int(11) DEFAULT NULL,
  `Imagen` varchar(255) DEFAULT NULL,
  `Tipo` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`Pk_ID_contenido`),
  KEY `Fk_ID_leccion` (`Fk_ID_leccion`),
  CONSTRAINT `tbl_contenido_ibfk_1` FOREIGN KEY (`Fk_ID_leccion`) REFERENCES `tbl_lecciones` (`Pk_ID_leccion`)
) ENGINE=InnoDB AUTO_INCREMENT=126 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_contenido`
--

LOCK TABLES `tbl_contenido` WRITE;
/*!40000 ALTER TABLE `tbl_contenido` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_contenido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_lecciones`
--

DROP TABLE IF EXISTS `tbl_lecciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_lecciones` (
  `Pk_ID_leccion` int(11) NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(100) DEFAULT NULL,
  `Descripcion` text,
  `Nivel` int(11) DEFAULT '1',
  `Orden` int(11) DEFAULT NULL,
  `Imagen` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`Pk_ID_leccion`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_lecciones`
--

LOCK TABLES `tbl_lecciones` WRITE;
/*!40000 ALTER TABLE `tbl_lecciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_lecciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_opciones`
--

DROP TABLE IF EXISTS `tbl_opciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_opciones` (
  `Pk_ID_opciones` int(11) NOT NULL AUTO_INCREMENT,
  `Fk_ID_usuario` int(11) DEFAULT NULL,
  `Fk_ID_tipo` int(11) DEFAULT NULL,
  `Fk_ID_leccion` int(11) DEFAULT NULL,
  PRIMARY KEY (`Pk_ID_opciones`),
  KEY `Fk_ID_usuario` (`Fk_ID_usuario`),
  KEY `Fk_ID_tipo` (`Fk_ID_tipo`),
  KEY `Fk_ID_leccion` (`Fk_ID_leccion`),
  CONSTRAINT `tbl_opciones_ibfk_1` FOREIGN KEY (`Fk_ID_usuario`) REFERENCES `tbl_usuarios` (`Pk_ID_usuario`),
  CONSTRAINT `tbl_opciones_ibfk_2` FOREIGN KEY (`Fk_ID_tipo`) REFERENCES `tbl_tipoleccion` (`Pk_ID_tipo`),
  CONSTRAINT `tbl_opciones_ibfk_3` FOREIGN KEY (`Fk_ID_leccion`) REFERENCES `tbl_lecciones` (`Pk_ID_leccion`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_opciones`
--

LOCK TABLES `tbl_opciones` WRITE;
/*!40000 ALTER TABLE `tbl_opciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_opciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_progreso`
--

DROP TABLE IF EXISTS `tbl_progreso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_progreso` (
  `Pk_ID_prog` int(11) NOT NULL AUTO_INCREMENT,
  `Fk_ID_usuario` int(11) DEFAULT NULL,
  `Fk_leccion` int(11) DEFAULT NULL,
  `Porcen_Av` decimal(5,2) DEFAULT '0.00',
  `Fecha_completado` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`Pk_ID_prog`),
  KEY `Fk_ID_usuario` (`Fk_ID_usuario`),
  KEY `Fk_leccion` (`Fk_leccion`),
  CONSTRAINT `tbl_progreso_ibfk_1` FOREIGN KEY (`Fk_ID_usuario`) REFERENCES `tbl_usuarios` (`Pk_ID_usuario`),
  CONSTRAINT `tbl_progreso_ibfk_2` FOREIGN KEY (`Fk_leccion`) REFERENCES `tbl_lecciones` (`Pk_ID_leccion`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_progreso`
--

LOCK TABLES `tbl_progreso` WRITE;
/*!40000 ALTER TABLE `tbl_progreso` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_progreso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_respuestas`
--

DROP TABLE IF EXISTS `tbl_respuestas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_respuestas` (
  `Pk_ID_resp` int(11) NOT NULL AUTO_INCREMENT,
  `Fk_ID_tipo` int(11) DEFAULT NULL,
  `respuestaUsuario` varchar(255) DEFAULT NULL,
  `Respuesta` varchar(255) DEFAULT NULL,
  `EsCorrecta` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`Pk_ID_resp`),
  KEY `Fk_ID_tipo` (`Fk_ID_tipo`),
  CONSTRAINT `tbl_respuestas_ibfk_1` FOREIGN KEY (`Fk_ID_tipo`) REFERENCES `tbl_tipoleccion` (`Pk_ID_tipo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_respuestas`
--

LOCK TABLES `tbl_respuestas` WRITE;
/*!40000 ALTER TABLE `tbl_respuestas` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_respuestas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_tipoleccion`
--

DROP TABLE IF EXISTS `tbl_tipoleccion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_tipoleccion` (
  `Pk_ID_tipo` int(11) NOT NULL AUTO_INCREMENT,
  `Descripcion` varchar(100) DEFAULT NULL,
  `Preguntas` text,
  `Puntuacion` decimal(5,2) DEFAULT '0.00',
  PRIMARY KEY (`Pk_ID_tipo`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_tipoleccion`
--

LOCK TABLES `tbl_tipoleccion` WRITE;
/*!40000 ALTER TABLE `tbl_tipoleccion` DISABLE KEYS */;
INSERT INTO `tbl_tipoleccion` VALUES (1,'Verdadero o Falso','Selecciona la respuesta correcta',10.00),(2,'Opci├│n M├║ltiple','Asocia la imagen con la se├▒a correcta',15.00),(3,'Pr├íctica','Practica la se├▒a mostrada',20.00);
/*!40000 ALTER TABLE `tbl_tipoleccion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_usuarios`
--

DROP TABLE IF EXISTS `tbl_usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_usuarios` (
  `Pk_ID_usuario` int(11) NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(100) DEFAULT NULL,
  `Apellido` varchar(100) DEFAULT NULL,
  `Usuario` varchar(50) DEFAULT NULL,
  `Correo` varchar(100) DEFAULT NULL,
  `Contrasena` varchar(255) DEFAULT NULL,
  `Rol` enum('usuario','administrador') DEFAULT 'usuario',
  `Estado` varchar(10) DEFAULT 'activo',
  `Fecha_registro` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`Pk_ID_usuario`),
  UNIQUE KEY `Usuario` (`Usuario`),
  UNIQUE KEY `Correo` (`Correo`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_usuarios`
--

LOCK TABLES `tbl_usuarios` WRITE;
/*!40000 ALTER TABLE `tbl_usuarios` DISABLE KEYS */;
INSERT INTO `tbl_usuarios` VALUES (1,'Administrador','Sistema','admin','admin@lensegua.com','$2a$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi','administrador','activo','2026-05-18 13:12:39');
/*!40000 ALTER TABLE `tbl_usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-18  7:14:56
